<style>
    .create-record {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 1rem;
    }

    .input-item {
        display: flex;
        flex-direction: column;
    }

    form li + li {
        margin-top: 1rem;
    }

</style>
<script>

    function clearForm(event) {
        console.log("Some log statement");

        if (event.detail.successful) {
            console.log("Reseting form")
            document.getElementById("create-record-form").reset();
        }
    }
</script>
<form id="create-record-form" class="create-record" action="/handle-create" method="post">
    <ul>
        <li class="input-item">
            <label for="title" class="input-label">Title</label>
            <input type="text" id="title" name="title" class="input-field"/>
        </li>
        <li class="input-item">
            <label for="amount" class="input-label">Amount</label>
            <input type="number" id="amount" name="amount" class="input-field"/>
        </li>
        <li class="input-item">
            <label for="tag" class="input-label">Tag</label>
            <input type="text" id="tag" name="tag" class="input-field"/>
        </li>
    </ul>
    <button class="green"
            hx-post="/create"
            hx-target="#record-list"
            hx-swap="innerHTML"
            hx-on::after-request="clearForm(event)"
            type="submit">Add Record</button>
</form>