<!doctype html>
<html lang="en">
<head>
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <link href="/assets/main.css" rel="stylesheet"/>
    <title>Index Test Page</title>
    <style>
        .main-layout {
            display: grid;
            grid-template-columns: 1fr auto;
            align-items: start;
            gap: 1rem;
        }
    </style>
</head>
<body>
<header>
    <h1>The Expense List</h1>
</header>
<main class="main-layout">
    {% include "records.html" %}
    {% include "create-record.html" %}

</main>
</body>
</html>

